
.about-me {
  text-align: center;
}
.page-footer{
    position: fixed;
    bottom: 0;
}
.jumbotron
{
  font-family: "Bahnschrift", Courier, monospace;
  text-align: center;
}
.page-header
{
  background-color:lightskyblue;
  text-align: center;
}
